main section {
    float: left;
    max-width: 70%;

}

main aside {
    float: right;
    max-width: 25%;
}

.fish-unit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.fish {
    text-align: center;
    width: 49%;
}
