#fishList, #locationList {
    float: left;
    width: 60%;
}

#tipList {
    float: right;
    width: 35%;
}

.fish-unit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;

}

.fish {
    text-align: center;
    width: 49%;
}

.locations {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


