header {
    background-color: lightblue;
}

main {
    border: 8px solid black;
}

#fish-list {
    border: 5px solid purple;
}
#location-list {
    border: 5px solid orange;
}
#tip-list {
    border: 5px solid lime;
}

.section-title {
    text-align: center;
}

.fish p {
    margin: 5px;
}

.tips {
    padding: 0px 20px;
}

.tip {
    list-style-type: none;
}

.tip--topic {
    text-align: center;
    font-weight: bold;
}

.tip--text {
    text-align: justify;
}

