body {
    background-color: #219EBC;
    color: #023047;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

header {
    color: #023047;
    text-align: center;
    font-size: 200%;
}

#fishList, #locationList, #tipList {
    border: 3px solid #FFB703;
    background-color: #8ECAE6;
    padding: 10px;
}
#locationList {
    margin: 10px 0 0 0;
}

.section-title {
    text-align: center;
    font-size: 200%;
}

.fish-image {
    max-width: 80%;
}

.fish p {
    margin: 0;
    padding: 5px;
}

.tips {
    padding: 0px 20px;
    font-size: large;
}

.tip {
    list-style-type: none;
}

.tip--topic {
    text-align: center;
    font-weight: bold;
}

.tip--text {
    text-align: justify;
}

.location {
    text-align: center;
    max-width: 49%;
}