header {
    background-color: lightblue;
}

main {
    border: 8px solid black;
}

#fishList {
    border: 5px solid purple;
}
#locationList {
    border: 5px solid orange;
}
#tipList {
    border: 5px solid lime;
}

.section-title {
    text-align: center;
}

.fish-unit img {
    max-width: 80%;
}

.fish p {
    margin: 0;
    padding: 5px;
}

.tips {
    padding: 0px 20px;
}

.tip {
    list-style-type: none;
}

.tip--topic {
    text-align: center;
    font-weight: bold;
}

.tip--text {
    text-align: justify;
}

